<div class="container">
  <h1 class="m-3 w-100 text-center">PRODUCT DETAILS</h1>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h2 class="">ID: {{productById.id}}</h2>
      </div>
      <img src="{{productById.photo}}" class="card" alt="product-photo" />
      <div class="card-body">
        <h2 class="">Title: {{productById.title}}</h2>
        <h3 class="">Category: {{productById.category}}</h3>
        <h4 class="">Price: {{productById.price}}</h4>
        <h5 class="">Stock: {{productById.stock}}</h5>
      </div>
    </div>
  </div>
</div>