<div
  class="container-fluid d-flex text-center align-items-center justify-content-center mx-auto"
>
  <div class="w-100">
    <div class="mx-5">
      <div class="card m-2" style="height: 100%;">
        <div class="card-body mx-auto h-80">
          <h2 class="m-2">{{productById.title}}</h2>
          <img
            style="width: 100%; height: 60vh; border: 1px solid black; border-radius: 10px;"
            src="{{productById.photo}}"
            alt="{{productById._id}}"
          />
          <h3 class="m-2">Price: ${{productById.price}}</h3>
          <h4>Stock: {{productById.stock}}</h4>
          <div
            class="d-flex flex-row justify-content-evenly align-items-center"
          >
            <div class="input-group-prepend">
              <button
                type="button"
                class="btn btn-dark p-2"
                style="width:2rem;"
                id="decrementBtn"
              > - </button>
            </div>
            <span id="itemCount"></span>
            <div class="input-group-append">
              <button
                type="button"
                class="btn btn-dark p-2"
                style="width:2rem;"
                id="incrementBtn"
              > + </button>
            </div>
          </div>
          <button
            type="submit"
            class="m-3 p-2 text-center btn btn-primary bg-dark text-light"
            id="addCart"
          ><h4>ADD TO CART</h4></button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
const urlParams = new URL(location.href);
const pid = urlParams.searchParams.get("id");
const addCartButton = document.getElementById("addCart");
let prod = {};
const addButton = document.getElementById("incrementBtn");
const decButton = document.getElementById("decrementBtn");
const itemCount = document.getElementById("itemCount");
let count = 1;

addCartButton.addEventListener("click", async () => {
  try {
    const opts = {
          method: "POST",
          headers: { "Content-Type" : "application/json"}
        }
    let resp = await fetch("/api/sessions/online", opts)
    resp = await resp.json()
    if(resp){
      let user = await resp.session
      const product_id = "{{productById._id}}"
      const user_id = user._id
      const response = await fetch("http://localhost:8080/api/cart/", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ product_id, user_id, quantity:count })
      });
      const responseBody = await response.json()
      if(responseBody.statusCode == 201){
        alert('Producto agregado con exito')
        window.location.replace('/')
      } else {
        alert('Ocurrió un problema')
      }
    }
  } catch (error) {
    console.error("Error:", error);
  }
})

const itemCountPrint = () => {
    itemCount.innerHTML = `
        <h5>${count}</h5>
    `;
};
itemCountPrint()
addButton.addEventListener("click", () => {
  if (count < {{productById.stock}}) {
    count++;
  }
  itemCountPrint()
});

decButton.addEventListener("click", () => {
  if (count && count>1) {
    count--;
  }
  itemCountPrint();
});

</script>