<div class="container">
    <h1 class="m-3 w-100 text-center">PRODUCTS</h1>
    <div class="container register-product border mb-5">
        <h2>REGISTER A NEW PRODUCT</h2>
        <form class="row g-3 justify-content-center">
            <div class="col-md-6">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" placeholder="Enter a Title">
            </div>
            <div class="col-md-6">
                <label for="photo_url" class="form-label">Product URL:</label>
                <input type="text" class="form-control" id="photo_url" placeholder="Enter a product URL">
            </div>
            <div class="col-md-6">
                <label for="category" class="form-label">Category:</label>
                <select class="form-control" id="category" aria-placeholder="Enter a category">
                    <option value="Clothes">Clothes</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Accesories">Accesories</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Sports">Sports</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="price" class="form-label">Price:</label>
                <input type="number" class="form-control" id="price" placeholder="Enter a price">
            </div>
            <div class="col-md-6">
                <label for="stock" class="form-label">Stock:</label>
                <input type="number" class="form-control" id="stock" placeholder="Enter stock">
            </div>
            <div class="col-md-12 text-center mb-4">
                <button id="btn-register-product" type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    <div id="products" class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        {{#each allProducts}}
        <div class="col mb-4">
            <div class="card">
                <img src="{{this.photo}}" class="card-img-top" alt="product-photo">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">Category: {{this.category}}</p>
                    <p class="card-text">Price: ${{this.price}}</p>
                    <p class="card-text">Stock: {{this.stock}}</p>
                    <p class="card-text">ID: {{this._id}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a style="text-decoration: none; width: 50%;" href="/search/{{this._id}}" class="me-2">
                        <button class="btn btn-primary w-100">More details</button>
                    </a>
                    <div style="width: 50%;">
                        <button onclick="openModalDelete()" class="btn btn-danger w-100">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-delete-product" style="display: none; justify-content: center; align-items: center; width: 100%; height: 100vh; position: fixed; z-index: 10; top: 0; background-color: rgba(128, 128, 128, 0.555);">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 600px; height: 300px; background-color: white; padding: 20px;">
            <h2 style="margin-bottom: 20px;">Do you want to delete this product?</h2>
            <div style="display: flex; width: 100%;">
                <button onclick="closeModalDelete()" class="btn btn-primary w-100 mx-2">Cancel</button>
                <button onclick="deleteProd('{{this._id}}')" class="btn btn-danger w-100 mx-2">Delete</button>
            </div>
        </div>
    </div>
        {{/each}}
    </div>
</div>
<script>
    const API_URL = `{{API_URL}}`
    document.getElementById("btn-register-product").addEventListener("click", async ()=> {
        const title = document.getElementById("title").value
        const photo = document.getElementById("photo_url").value
        const category = document.getElementById("category").value
        const price = document.getElementById("price").value
        const stock = document.getElementById("stock").value
        const prodToCreate = {
            title: title,
            photo: photo,
            category: category,
            price: price,
            stock: stock
        }
        const optsPost = { method: "POST", headers: { "Content-Type" : "application/json"}, body: JSON.stringify(prodToCreate)}
        let resp = await fetch(`${API_URL}/api/products/real`, optsPost);
        resp = await resp.json()
        if(resp.statusCode === 201){
            window.location.reload()
        }
    })
    function openModalDelete() {
        document.getElementById('modal-delete-product').style.display = 'flex'
    }
    function closeModalDelete() {
        document.getElementById('modal-delete-product').style.display = 'none'
    }
    async function deleteProd(prod_id){
        const optsDelete = { method: "DELETE", headers: { "Content-Type": "application/json" } }
        let resp = await fetch(`${API_URL}/api/products/del/${prod_id}`, optsDelete)
        resp = await resp.json()
        if(resp.statusCode === 200){
            alert('Product deleted')
            window.location.reload()
        } else {
            alert('Error: ', resp.message)
        }
    }
</script>