<div
  class="container-fluid d-flex text-center align-items-center justify-content-center mx-auto"
>
  <div class="w-100" id="buyProductContainer" style="display: none;">
    <div class="mx-5">
      <div class="card m-2" style="height: 100%;">
        <div class="card-body mx-auto h-80">
          <h2 class="m-2">{{productById.title}}</h2>
          <img
            style="width: 100%; height: 60vh; border: 1px solid black; border-radius: 10px;"
            src="{{productById.photo}}"
            alt="{{productById._id}}"
          />
          <h3 class="m-2">Price: ${{productById.price}}</h3>
          <h4>Stock: {{productById.stock}}</h4>
          <div
            class="d-flex flex-row justify-content-evenly align-items-center"
          >
            <div class="input-group-prepend">
              <button
                type="button"
                class="btn btn-dark p-2"
                style="width:2rem;"
                id="decrementBtn"
              > - </button>
            </div>
            <span id="itemCount"></span>
            <div class="input-group-append">
              <button
                type="button"
                class="btn btn-dark p-2"
                style="width:2rem;"
                id="incrementBtn"
              > + </button>
            </div>
          </div>
          <button
            type="submit"
            class="m-3 p-2 text-center btn btn-primary bg-dark text-light"
            id="addCart"
          ><h4>ADD TO CART</h4></button>
        </div>
      </div>
    </div>
  </div>

  <div id="editProductContainer" class="container_prod" style="display: none;">
    <div class="prod_details">
      <div class="card">
          <img src="{{productById.photo}}" class="card-img-top img-fluid" alt="Product Image">
          <div class="card-body">
            <h5 class="card-title">{{productById.title}}</h5>
            <p class="card-text">ID: {{productById._id}}</p>
            <p class="card-text">Price: ${{productById.price}}</p>
            <p class="card-text">Stock: {{productById.stock}}</p>
          </div>
        </div>
    </div>
    
    <div class="prod_update">
      <h2>Update product</h2>
      <form id="updateProductForm">
        <div class="form-group">
          <label for="productTitle">Title</label>
          <input type="text" class="form-control" id="productTitle" value="{{productById.title}}">
        </div>
        <div class="form-group">
          <label for="productPhotoUrl">Photo Url</label>
          <input type="text" class="form-control" id="productPhotoUrl" value="{{productById.photo}}">
        </div>
        <div class="form-group">
          <label for="productCategory" class="form-label">Category:</label>
          <select class="form-control" id="productCategory" aria-placeholder="Enter a category" value="{{productById.category}}">
              <option value="{{productById.category}}">Select category</option>
              <option value="Clothes">Clothes</option>
              <option value="Shoes">Shoes</option>
              <option value="Accesories">Accesories</option>
              <option value="Electronics">Electronics</option>
              <option value="Sports">Sports</option>
          </select>
        </div>
        <div class="form-group">
          <label for="productPrice">Price</label>
          <input type="number" class="form-control" id="productPrice" value="{{productById.price}}">
        </div>
        <div class="form-group">
          <label for="productStock">Stock</label>
          <input type="number" class="form-control" id="productStock" value="{{productById.stock}}">
        </div>
        <button type="submit" class="btn btn-primary">Update Product</button>
      </form>
    </div>
  </div>
</div>

<script>
    const API_URL = `{{API_URL}}`
    const urlParams = new URL(location.href);
    const pid = urlParams.searchParams.get("id");
    const addCartButton = document.getElementById("addCart");
    let prod = {};
    const addButton = document.getElementById("incrementBtn");
    const decButton = document.getElementById("decrementBtn");
    const itemCount = document.getElementById("itemCount");
    let count = 1;
    let user;
    document.addEventListener("DOMContentLoaded", async () => {
      const opts = {
            method: "POST",
            headers: { "Content-Type" : "application/json"}
          }
      let resp = await fetch("/api/sessions/online", opts)
      resp = await resp.json()
      if(resp.statusCode === 200){
        user = await resp.session
      }
      console.log(user.role)
      console.log("{{productById.supplier_id}}")
      if(user._id === "{{productById.supplier_id}}" || user.role === 0){
        document.getElementById('buyProductContainer').style.display = 'none';
        document.getElementById('editProductContainer').style.display = 'flex';
      } else {
        document.getElementById('buyProductContainer').style.display = 'flex';
        document.getElementById('editProductContainer').style.display = 'none';
      }
    })

    addCartButton.addEventListener("click", async () => {
      try {
        if(user){
          const product_id = "{{productById._id}}"
          const user_id = user._id
          const response = await fetch(`${API_URL}/api/cart/`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ product_id, user_id, quantity:count })
          });
          const responseBody = await response.json()
          if(responseBody.statusCode == 201){
            alert('Producto agregado con exito')
            window.location.replace('/')
          } else {
            alert('Ocurrió un problema')
          }
        } else {
          alert("Debes iniciar sesion primero")
        }
      } catch (error) {
        console.error("Error:", error);
      }
    })

    const itemCountPrint = () => {
        itemCount.innerHTML = `
            <h5>${count}</h5>
        `;
    };
    itemCountPrint()
    addButton.addEventListener("click", () => {
      if (count < {{productById.stock}}) {
        count++;
      }
      itemCountPrint()
    });

    decButton.addEventListener("click", () => {
      if (count && count>1) {
        count--;
      }
      itemCountPrint();
    });

    document.getElementById('updateProductForm').addEventListener('submit', async (e) => {
      e.preventDefault();
      const prodToUpdate = {
            title: document.getElementById('productTitle').value,
            photo: document.getElementById('productPhotoUrl').value,
            category: document.getElementById('productCategory').value,
            price: document.getElementById('productPrice').value,
            stock: document.getElementById('productStock').value
        }
      const optsPut = { 
        method: "PUT",
        headers: { "Content-Type" : "application/json"},
        body: JSON.stringify(prodToUpdate)
      }
      const prod_id = '{{productById._id}}'
      const prod_supplier_id = '{{productById.supplier_id}}'
      if(prod_supplier_id === user._id){
        let prod = await fetch(`/api/products/upd/${prod_id}`, optsPut)
        prod = await prod.json()
        console.log(prod)
        if(prod.statusCode === 200){
          alert('Product updated')
          window.location.reload()
        }
      } else {
        alert("This product is not yours, you can't update this")
        window.location.replace('/')
      }
    });

</script>

<style>
  .container_prod{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90vh;
  }
  .prod_update{
    width: 40%;
    height: 80%;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: start;
  }
  .form-group{
    margin-top: 30px;
    margin-bottom: 30px;
    label{
      font-size: 20px;
      font-weight: 600;
    }
  }
</style>